n8n-boss-spawn.json
{
    "name": "XPLife Boss Spawn (Weekly)",
    "nodes": [
        {
            "parameters": {
                "rule": {
                    "interval": [
                        {
                            "triggerAtHour": 0,
                            "triggerAtMinute": 0,
                            "triggerAtDay": 1
                        }
                    ]
                }
            },
            "id": "boss-cron",
            "name": "Every Monday 00:00",
            "type": "n8n-nodes-base.scheduleTrigger",
            "typeVersion": 1.2,
            "position": [
                200,
                300
            ]
        },
        {
            "parameters": {
                "method": "POST",
                "url": "={{ $env.XPLIFE_API_URL }}/api/boss/spawn",
                "authentication": "genericCredentialType",
                "genericAuthType": "httpHeaderAuth",
                "sendHeaders": true,
                "headerParameters": {
                    "parameters": [
                        {
                            "name": "Authorization",
                            "value": "Bearer {{ $env.N8N_WEBHOOK_SECRET }}"
                        }
                    ]
                },
                "options": {
                    "timeout": 30000
                }
            },
            "id": "boss-spawn-request",
            "name": "Spawn Boss",
            "type": "n8n-nodes-base.httpRequest",
            "typeVersion": 4.2,
            "position": [
                420,
                300
            ]
        },
        {
            "parameters": {
                "conditions": {
                    "options": {
                        "caseSensitive": true,
                        "leftValue": "",
                        "typeValidation": "strict"
                    },
                    "conditions": [
                        {
                            "id": "boss-check",
                            "leftValue": "={{ $json.boss?.name }}",
                            "rightValue": "",
                            "operator": {
                                "type": "string",
                                "operation": "notEmpty"
                            }
                        }
                    ],
                    "combinator": "and"
                },
                "options": {}
            },
            "id": "boss-check-if",
            "name": "Boss Spawned?",
            "type": "n8n-nodes-base.if",
            "typeVersion": 2,
            "position": [
                640,
                300
            ]
        },
        {
            "parameters": {
                "assignments": {
                    "assignments": [
                        {
                            "id": "log-success",
                            "name": "status",
                            "value": "=Boss '{{ $json.boss.name }}' spawned with {{ $json.boss.max_hp }} HP ({{ $json.boss.tier }} tier)",
                            "type": "string"
                        }
                    ]
                },
                "options": {}
            },
            "id": "boss-success-log",
            "name": "Log Success",
            "type": "n8n-nodes-base.set",
            "typeVersion": 3.4,
            "position": [
                860,
                200
            ]
        },
        {
            "parameters": {
                "assignments": {
                    "assignments": [
                        {
                            "id": "log-fail",
                            "name": "status",
                            "value": "Failed to spawn boss",
                            "type": "string"
                        }
                    ]
                },
                "options": {}
            },
            "id": "boss-fail-log",
            "name": "Log Failure",
            "type": "n8n-nodes-base.set",
            "typeVersion": 3.4,
            "position": [
                860,
                400
            ]
        }
    ],
    "connections": {
        "Every Monday 00:00": {
            "main": [
                [
                    {
                        "node": "Spawn Boss",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "Spawn Boss": {
            "main": [
                [
                    {
                        "node": "Boss Spawned?",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "Boss Spawned?": {
            "main": [
                [
                    {
                        "node": "Log Success",
                        "type": "main",
                        "index": 0
                    }
                ],
                [
                    {
                        "node": "Log Failure",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        }
    },
    "settings": {
        "executionOrder": "v1"
    }
}