original_workflow.json
{
    "name": "XPLife - X Auto-Poster",
    "nodes": [
        {
            "parameters": {
                "rule": {
                    "interval": [
                        {
                            "triggerAtHour": 10,
                            "triggerAtMinute": 0
                        },
                        {
                            "triggerAtHour": 19,
                            "triggerAtMinute": 0
                        }
                    ]
                }
            },
            "id": "a1b2c3d4-0001-0001-0001-000000000001",
            "name": "Schedule (2x Daily)",
            "type": "n8n-nodes-base.scheduleTrigger",
            "typeVersion": 1.2,
            "position": [
                -200,
                0
            ]
        },
        {
            "parameters": {
                "jsCode": "const templates = [\n  {\n    type: 'tool-giveaway',\n    prompt: 'Write a tweet about a free AI productivity app called XPLife. Hook: \"I built an AI app that turns your boring to-do list into an RPG...\" Make people curious. End with: Try it free → xplife.app'\n  },\n  {\n    type: 'cheat-sheet',\n    prompt: 'Write a tweet sharing a productivity cheat sheet. Hook: \"I gamified my entire life and here\\'s what happened after 30 days:\" List 3 specific results (tasks completed, streaks, level ups). End with: Free at xplife.app'\n  },\n  {\n    type: 'case-study',\n    prompt: 'Write a tweet as a mini case study. Hook: \"Traditional to-do apps have a 92% abandonment rate. RPG quest systems have 3x better retention. So I combined them.\" Share the concept of XPLife. End with: xplife.app'\n  },\n  {\n    type: 'adhd-focus',\n    prompt: 'Write a tweet for people with ADHD or focus issues. Hook: \"ADHD brain + regular to-do list = disaster. ADHD brain + RPG quest system = unstoppable.\" Explain how gamification helps with dopamine and motivation. End with: Built for brains like ours → xplife.app'\n  },\n  {\n    type: 'neuroscience',\n    prompt: 'Write a tweet about the neuroscience behind XPLife. Hook: \"Your brain releases dopamine when you level up in games. I hacked this for real-life productivity.\" Explain the Braverman personality system briefly. End with: Discover your type → xplife.app'\n  },\n  {\n    type: 'social-proof',\n    prompt: 'Write a tweet with social proof angle. Hook: \"People keep asking how I stay consistent with my goals. My secret: I turned everything into quests with XP rewards.\" Share specific benefits (streaks, levels, AI-generated tasks). End with: Join free → xplife.app'\n  },\n  {\n    type: 'comparison',\n    prompt: 'Write a tweet comparing old vs new approach. Hook: \"2024: Write tasks on sticky notes, forget them by lunch. 2026: AI generates personalized RPG quests based on your brain chemistry.\" Make it punchy and visual. End with: The future is free → xplife.app'\n  }\n];\n\nconst today = new Date();\nconst hour = today.getUTCHours();\nconst dayIndex = today.getDate();\n\n// Morning = even templates, Evening = odd templates\nconst filteredIndices = hour < 15\n  ? [0, 2, 4, 6]\n  : [1, 3, 5];\n\nconst pick = filteredIndices[dayIndex % filteredIndices.length];\nconst template = templates[pick];\n\nreturn [{\n  json: {\n    templateType: template.type,\n    prompt: template.prompt,\n    timeContext: hour < 15 ? 'morning motivation' : 'evening insight',\n    dayOfWeek: ['Sunday','Monday','Tuesday','Wednesday','Thursday','Friday','Saturday'][today.getDay()]\n  }\n}];"
            },
            "id": "a1b2c3d4-0001-0001-0001-000000000002",
            "name": "Select Template",
            "type": "n8n-nodes-base.code",
            "typeVersion": 2,
            "position": [
                20,
                0
            ]
        },
        {
            "parameters": {
                "modelId": {
                    "__rl": true,
                    "value": "chatgpt-4o-latest",
                    "mode": "list",
                    "cachedResultName": "CHATGPT-4O-LATEST"
                },
                "messages": {
                    "values": [
                        {
                            "content": "={{ $json.prompt }}\n\nContext: This is a {{ $json.timeContext }} post for {{ $json.dayOfWeek }}.\n\nRULES (CRITICAL):\n- MAXIMUM 270 characters (leave room for safety)\n- Use 1-2 line breaks for readability\n- Include 1-2 relevant emojis naturally\n- NO hashtags (they reduce reach on X in 2025+)\n- Sound human and conversational, NOT corporate\n- Create a curiosity gap in the first line\n- The hook (first line) must stop the scroll\n- End with clear CTA or link\n- Respond with ONLY the tweet text, nothing else\n- Do NOT wrap in quotes",
                            "role": "user"
                        },
                        {
                            "content": "You are a viral X/Twitter growth hacker for XPLife (xplife.app) — a gamified productivity app that turns life goals into RPG quests with AI-powered personalization based on brain neurotransmitter profiles.\n\nYour copywriting style:\n- Short, punchy sentences\n- Lead with a bold hook that creates curiosity\n- Use specific numbers for credibility\n- Conversational tone (like texting a friend)\n- Focus on BENEFITS and OUTCOMES, not features\n- Create FOMO or curiosity gaps\n- Every tweet must feel like a mini-story\n\nTarget audience:\n- Productivity enthusiasts (25-35 year olds)\n- Gamers who want to apply gaming to real life\n- People with ADHD struggling with traditional planners\n- Self-improvement community\n- Tech-savvy people interested in AI tools\n\nKey selling points of XPLife:\n- AI generates personalized quests based on your personality\n- Braverman neurotransmitter assessment (dopamine, serotonin, GABA, acetylcholine)\n- XP rewards, levels, streaks, and leaderboards\n- 7 life categories: fitness, learning, creativity, productivity, social, health, mindfulness\n- Free to use\n- Available as web app at xplife.app",
                            "role": "system"
                        }
                    ]
                },
                "options": {}
            },
            "id": "a1b2c3d4-0001-0001-0001-000000000003",
            "name": "Generate Tweet (AI)",
            "type": "@n8n/n8n-nodes-langchain.openAi",
            "typeVersion": 1.8,
            "position": [
                260,
                0
            ],
            "credentials": {
                "openAiApi": {
                    "id": "mO5KBdt5hAygM9nH",
                    "name": "OpenAi account"
                }
            }
        },
        {
            "parameters": {
                "jsCode": "const content = $input.first().json.message?.content || $input.first().json.text || '';\nlet tweet = content.trim();\n\n// Remove wrapping quotes if AI added them\nif ((tweet.startsWith('\"') && tweet.endsWith('\"')) || (tweet.startsWith(\"'\") && tweet.endsWith(\"'\"))) {\n  tweet = tweet.slice(1, -1);\n}\n\n// Safety: truncate to 280 chars\nif (tweet.length > 280) {\n  tweet = tweet.substring(0, 277) + '...';\n}\n\nreturn [{ json: { tweet, charCount: tweet.length } }];"
            },
            "id": "a1b2c3d4-0001-0001-0001-000000000004",
            "name": "Clean & Validate",
            "type": "n8n-nodes-base.code",
            "typeVersion": 2,
            "position": [
                480,
                0
            ]
        },
        {
            "parameters": {
                "text": "={{ $json.tweet }}",
                "additionalFields": {}
            },
            "id": "a1b2c3d4-0001-0001-0001-000000000005",
            "name": "Post to X",
            "type": "n8n-nodes-base.twitter",
            "typeVersion": 2,
            "position": [
                700,
                0
            ],
            "credentials": {
                "twitterOAuth1Api": {
                    "id": "REPLACE_ME",
                    "name": "X (Twitter) OAuth1"
                }
            }
        }
    ],
    "connections": {
        "Schedule (2x Daily)": {
            "main": [
                [
                    {
                        "node": "Select Template",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "Select Template": {
            "main": [
                [
                    {
                        "node": "Generate Tweet (AI)",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "Generate Tweet (AI)": {
            "main": [
                [
                    {
                        "node": "Clean & Validate",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "Clean & Validate": {
            "main": [
                [
                    {
                        "node": "Post to X",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        }
    },
    "active": false,
    "settings": {
        "executionOrder": "v1"
    },
    "meta": {
        "templateCredsSetupCompleted": true,
        "instanceId": "0f3ce35bb93427cf3c774187689e51bbf73aca6026ea30d676d86bfc6232ca92"
    },
    "tags": [
        {
            "name": "XPLife"
        }
    ]
}