n8n/task-generation-workflow.json
{
  "name": "XPLife - Task Generation",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "xplife-generate-tasks",
        "responseMode": "responseNode",
        "options": {}
      },
      "id": "webhook-1",
      "name": "Webhook",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [250, 300],
      "webhookId": "xplife-generate-tasks"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "userId",
              "name": "userId",
              "value": "={{ $json.body.userId }}",
              "type": "string"
            },
            {
              "id": "personalityType",
              "name": "personalityType",
              "value": "={{ $json.body.personalityType }}",
              "type": "string"
            },
            {
              "id": "level",
              "name": "level",
              "value": "={{ $json.body.level }}",
              "type": "number"
            },
            {
              "id": "goals",
              "name": "goals",
              "value": "={{ JSON.stringify($json.body.goals) }}",
              "type": "string"
            },
            {
              "id": "recentTasks",
              "name": "recentTasks",
              "value": "={{ JSON.stringify($json.body.recentTasks) }}",
              "type": "string"
            },
            {
              "id": "userGoals",
              "name": "userGoals",
              "value": "={{ $json.body.userGoals || '' }}",
              "type": "string"
            },
            {
              "id": "questTimeframe",
              "name": "questTimeframe",
              "value": "={{ $json.body.questTimeframe || 'daily' }}",
              "type": "string"
            },
            {
              "id": "generationMode",
              "name": "generationMode",
              "value": "={{ $json.body.generationMode || 'manual' }}",
              "type": "string"
            },
            {
              "id": "parentQuest",
              "name": "parentQuest",
              "value": "={{ $json.body.parentQuest ? JSON.stringify($json.body.parentQuest) : '' }}",
              "type": "string"
            },
            {
              "id": "neurotransmitterScores",
              "name": "neurotransmitterScores",
              "value": "={{ JSON.stringify($json.body.neurotransmitterScores || {}) }}",
              "type": "string"
            },
            {
              "id": "taskCountMin",
              "name": "taskCountMin",
              "value": "={{ $json.body.taskCount ? $json.body.taskCount.min : 3 }}",
              "type": "number"
            },
            {
              "id": "taskCountMax",
              "name": "taskCountMax",
              "value": "={{ $json.body.taskCount ? $json.body.taskCount.max : 5 }}",
              "type": "number"
            },
            {
              "id": "categoryStats",
              "name": "categoryStats",
              "value": "={{ JSON.stringify($json.body.categoryStats || {}) }}",
              "type": "string"
            },
            {
              "id": "bestCategory",
              "name": "bestCategory",
              "value": "={{ $json.body.bestCategory || '' }}",
              "type": "string"
            },
            {
              "id": "strugglingCategory",
              "name": "strugglingCategory",
              "value": "={{ $json.body.strugglingCategory || '' }}",
              "type": "string"
            },
            {
              "id": "timePreference",
              "name": "timePreference",
              "value": "={{ $json.body.timePreference || '' }}",
              "type": "string"
            },
            {
              "id": "preferredTaskDuration",
              "name": "preferredTaskDuration",
              "value": "={{ $json.body.preferredTaskDuration || '' }}",
              "type": "string"
            },
            {
              "id": "occupation",
              "name": "occupation",
              "value": "={{ $json.body.occupation || '' }}",
              "type": "string"
            },
            {
              "id": "workSchedule",
              "name": "workSchedule",
              "value": "={{ $json.body.workSchedule || '' }}",
              "type": "string"
            },
            {
              "id": "lifePhase",
              "name": "lifePhase",
              "value": "={{ $json.body.lifePhase || '' }}",
              "type": "string"
            },
            {
              "id": "mainChallenge",
              "name": "mainChallenge",
              "value": "={{ $json.body.mainChallenge || '' }}",
              "type": "string"
            },
            {
              "id": "interests",
              "name": "interests",
              "value": "={{ JSON.stringify($json.body.interests || []) }}",
              "type": "string"
            },
            {
              "id": "categoryPreferences",
              "name": "categoryPreferences",
              "value": "={{ JSON.stringify($json.body.categoryPreferences || {}) }}",
              "type": "string"
            },
            {
              "id": "aboutMe",
              "name": "aboutMe",
              "value": "={{ $json.body.aboutMe || '' }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "id": "set-1",
      "name": "Parse Input",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [470, 300]
    },
    {
      "parameters": {
        "resource": "chat",
        "model": "gpt-4o-mini",
        "messages": {
          "values": [
            {
              "content": "You are a gamified life coach AI for the XPLife app. Generate HYPER-PERSONALIZED quests based on user's personality, lifestyle, success patterns, and preferences.\n\nPersonality Types:\n- dopamine: Thrives on novelty, competition, and rewards. Prefers high-energy, varied tasks.\n- acetylcholine: Loves learning, creativity, and deep thinking. Prefers intellectual and creative tasks.\n- gaba: Values stability, routine, and social connection. Prefers consistent, community-oriented tasks.\n- serotonin: Seeks meaning, structure, and achievement. Prefers organized, milestone-driven tasks.\n\nQuest Timeframes:\n- yearly: 1-3 big ambitious annual goals. These are epic-tier visions for the year.\n- monthly: 3-5 monthly milestones that break down yearly goals into achievable chunks.\n- weekly: 5-7 specific weekly targets derived from monthly goals.\n- daily: 3-5 actionable daily tasks derived from weekly targets.\n\nIf generationMode is \"from-parent\", break down the parent quest into appropriate child quests for the requested timeframe.\n\nNeurotransmitter Score Personalization (use when scores are provided):\n- High dopamine deficiency: Include novel, exciting, competitive tasks to boost dopamine\n- High acetylcholine deficiency: Include creative, learning-focused tasks to boost acetylcholine\n- High GABA deficiency: Include routine, calming, community-oriented tasks to boost GABA\n- High serotonin deficiency: Include structured, achievement-focused, meaningful tasks to boost serotonin\n\nPERSONALIZATION RULES (CRITICAL - use this data to make tasks feel custom-made):\n\n1. TIME OPTIMIZATION:\n   - If timePreference is \"morning\": Schedule tasks early (7-9am mentions)\n   - If timePreference is \"afternoon\": Schedule for 12-3pm\n   - If timePreference is \"evening\": Schedule for 6-9pm\n   - If timePreference is \"night\": Schedule for late evening/night\n   - If preferredTaskDuration is \"quick\": Generate 5-15 min tasks\n   - If preferredTaskDuration is \"medium\": Generate 15-45 min tasks\n   - If preferredTaskDuration is \"deep\": Generate 1h+ deep work sessions\n\n2. OCCUPATION & LIFESTYLE ADAPTATION:\n   - \"Remote Worker\": Include walk breaks, desk stretches, focus blocks between meetings\n   - \"Student\": Study sessions, campus activities, exam prep\n   - \"Office Worker\": Lunch break activities, commute suggestions, desk exercises\n   - \"Entrepreneur\": Business development, networking, strategic planning\n   - If mainChallenge is \"Finding time\": Create ultra-short tasks (5-10 min)\n   - If mainChallenge is \"Low energy\": Create energizing, movement-based tasks\n   - If mainChallenge is \"Staying focused\": Create time-boxed, distraction-free tasks\n   - If mainChallenge is \"Motivation\": Create reward-rich, exciting tasks\n   - If mainChallenge is \"Being consistent\": Create daily routine tasks\n\n3. SUCCESS RATE ADAPTATION (categoryStats):\n   - If bestCategory has high completion_rate (>70%): Make those tasks MORE challenging\n   - If strugglingCategory has low completion_rate (<50%): Make those tasks EASIER and SHORTER\n   - Focus MORE on categories user succeeds at\n   - Focus LESS on categories user struggles with (or make them tiny micro-tasks)\n\n4. FEEDBACK-DRIVEN PERSONALIZATION (categoryPreferences):\n   - If avgEnjoyment is high (>4): Generate MORE tasks in that category\n   - If avgEnjoyment is low (<3): Generate FEWER tasks in that category\n   - If avgDifficulty rating is \"too easy\" (<2.5): Increase difficulty\n   - If avgDifficulty rating is \"too hard\" (>4): Decrease difficulty\n\n5. INTERESTS INTEGRATION:\n   - If interests include \"yoga\": Incorporate yoga into fitness tasks\n   - If interests include \"coding\": Add programming projects to learning\n   - If interests include \"photography\": Add photo challenges to creativity\n   - If interests include \"cooking\": Add meal prep to health tasks\n   - Weave interests into task descriptions naturally\n\n6. ABOUT ME (FREE TEXT) PERSONALIZATION:\n   - If the user provided an 'About Me' text, treat it as the HIGHEST PRIORITY context\n   - It may describe their specific business, situation, or goals in detail\n   - Tailor quests directly to what they described (e.g. if they say 'I run an online clothing store', generate e-commerce/marketing/scaling quests)\n   - Use their language and terminology in task descriptions\n\n7. TASK VARIETY:\n   - Avoid repeating recent tasks\n   - Match difficulty to user level (higher level = can handle harder tasks)\n   - Balance categories based on user preferences\n\nRules:\n- Generate between the specified min and max task count\n- Each task must have: title, description, category (fitness|mindfulness|learning|productivity|social|health|creativity), difficulty (easy|medium|hard|epic), xp_reward (easy=25, medium=50, hard=100, epic=200)\n- For yearly quests, use difficulty=epic and xp_reward=200\n- Tasks should be SPECIFIC, ACTIONABLE, and feel CUSTOM-MADE for this user\n- Use user's time preference, occupation, interests, and success patterns to personalize\n- Respond ONLY with valid JSON in format: {\"tasks\": [...]}",
              "role": "system"
            },
            {
              "content": "=CORE PROFILE:\n- Personality: {{ $json.personalityType }}\n- Level: {{ $json.level }}\n- Goals: {{ $json.goals }}\n{{ $json.userGoals ? '- User-described goals: ' + $json.userGoals : '' }}\n- Neurotransmitter scores: {{ $json.neurotransmitterScores }}\n\nLIFESTYLE & PREFERENCES:\n{{ $json.timePreference ? '- Energy peak: ' + $json.timePreference + ' person' : '' }}\n{{ $json.preferredTaskDuration ? '- Prefers: ' + $json.preferredTaskDuration + ' tasks' : '' }}\n{{ $json.occupation ? '- Occupation: ' + $json.occupation : '' }}\n{{ $json.workSchedule ? '- Schedule: ' + $json.workSchedule : '' }}\n{{ $json.lifePhase ? '- Life phase: ' + $json.lifePhase : '' }}\n{{ $json.mainChallenge ? '- Biggest challenge: ' + $json.mainChallenge : '' }}\n{{ $json.interests && JSON.parse($json.interests).length > 0 ? '- Interests: ' + JSON.parse($json.interests).join(', ') : '' }}\n{{ $json.aboutMe ? '- About the user (in their own words): ' + $json.aboutMe : '' }}\n\nSUCCESS PATTERNS:\n{{ $json.bestCategory ? '- Best category (high completion): ' + $json.bestCategory : '' }}\n{{ $json.strugglingCategory ? '- Struggling category (low completion): ' + $json.strugglingCategory : '' }}\n{{ $json.categoryStats ? '- Category stats: ' + $json.categoryStats : '' }}\n{{ $json.categoryPreferences ? '- Feedback preferences: ' + $json.categoryPreferences : '' }}\n\nRECENT ACTIVITY:\n- Recent tasks: {{ $json.recentTasks }}\n\nGENERATION CONTEXT:\n- Quest timeframe: {{ $json.questTimeframe }}\n- Generation mode: {{ $json.generationMode }}\n{{ $json.parentQuest ? '- Parent quest to break down: ' + $json.parentQuest : '' }}\n- Task count: {{ $json.taskCountMin }} to {{ $json.taskCountMax }}\n\nGenerate {{ $json.taskCountMin }}-{{ $json.taskCountMax }} HYPER-PERSONALIZED {{ $json.questTimeframe }} quests that feel custom-made for this user.",
              "role": "user"
            }
          ]
        },
        "options": {
          "temperature": 0.8,
          "maxTokens": 1024
        }
      },
      "id": "openai-1",
      "name": "Generate Tasks (OpenAI)",
      "type": "@n8n/n8n-nodes-langchain.openAi",
      "typeVersion": 1.8,
      "position": [690, 300],
      "credentials": {
        "openAiApi": {
          "id": "REPLACE_WITH_YOUR_OPENAI_CREDENTIAL_ID",
          "name": "OpenAI API"
        }
      }
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ JSON.stringify([$json]) }}",
        "options": {}
      },
      "id": "respond-1",
      "name": "Respond to Webhook",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.1,
      "position": [910, 300]
    }
  ],
  "connections": {
    "Webhook": {
      "main": [
        [
          {
            "node": "Parse Input",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Parse Input": {
      "main": [
        [
          {
            "node": "Generate Tasks (OpenAI)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Generate Tasks (OpenAI)": {
      "main": [
        [
          {
            "node": "Respond to Webhook",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1"
  },
  "staticData": null,
  "tags": [
    {
      "name": "XPLife"
    }
  ]
}
